.calculadora {
    height: 400px;
    width: 300px;
    background-color:#2e2e2ee7;
    border-radius: 15px;
    margin: auto;
    box-shadow: 2px 2px 2px #0000007e;
    border: 1px solid black;
}

.visor {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    text-align: right;
}

.botoes_pequenosf1 {
    margin-top: 100px;
    width: 45px;
    height: 40px;
    margin-left: 10px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;
}

.botoes_pequenosf2 {
    width: 45px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 8.5px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;
}

.botoes_pequenosf3 {
    width: 45px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 8.5px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;
}

.botoes_pequenosf4 {
    width: 45px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 8.5px;
    background-color:#23272B;;
    color: white;
    border-radius: 5px;
}

.botoes_pequenosf5 {
    width: 45px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 8.5px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;

}

.botoes_grandes{
    width: 100px;
    height: 40px;
    margin-left: 40px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;
}

.igual{
    width: 45px;
    height: 90px;
    position: absolute;
    margin-left: 13px;
    margin-top: 10px;
    background-color:#23272B;
    color: white;
    border-radius: 5px;
}

.igual:hover, .botoes_pequenosf5:hover, .botoes_pequenosf4:hover, .botoes_pequenosf3:hover, .botoes_pequenosf2:hover, .botoes_pequenosf1:hover, .botoes_grandes:hover {
    background-color: rgba(18, 56, 71, 0.555);
    box-shadow: 2px 2px 2px #0000007e;
}